<header>
  <a href="/index.html"><img id="logo" src="/assets/logo.svg" /></a>
  <nav>
    <ul id="navigation">
      <li><a href="/services/index.html">Behandelingen </a></li>
      <li><a href="/pricelist/index.html">Prijzen</a></li>
      <li><a href="/aboutme/index.html">Over Mij</a></li>
      <li><a href="/contact/index.html">Contact</a></li>
    </ul>
  </nav>
</header>