---
title: Contact
layout: "base.njk"
---

<main>
  <h1>Contact</h1>
  <section class="info"></section>
  <h2>Contactgegevens</h2>
  <p>
    U kunt via onderstaande gegevens contact met mij opnemen of u kunt gebruik
    maken van het contactformulier
  </p>
  <address>
    <p>Telefoon:</p>
    <a class="address" href="tel:+31629315600">0612345678</a>
    <p>E-mail:</p>
    <a class="address" href="mailto:info@mkbeautymoments.nl"
      >info@mkbeaytmoments.nl</a
    >
    <p>Adres:</p>
    <p>Seringenstraat 52, 6101 NJ, Echt</p>
  </address>
  <section class="message"></section>
  <h2>Stuur een berichtje</h2>
  <form name="contact">
    <label>Uw email:</label>
    <input type="email" name="" id="" />
    <label>Onderwerp:</label>
    <input type="text" />
    <label>Uw bericht:</label>
    <textarea form="contact"></textarea>
    <input type="submit" value="Verstuur" />
  </form>
</main>
