---
title: Prijzen
layout: "base.njk"
---

<main id="pricelist">
  <h1>Prijzen</h1>
  <table class="prices">
    <caption>
      Manicure
    </caption>
    <tbody>
      <tr>
        <td class="tag">Acrylnagels</td>
        <td class="price">€ 30,-</td>
      </tr>
      <tr>
        <td class="tag">Gellak</td>
        <td class="price">€ 15,-</td>
      </tr>
    </tbody>
  </table>
  <table class="prices">
    <caption>
      Pedicure
    </caption>
    <tr>
      <td class="tag">Pedicure</td>
      <td class="price">€ 30,-</td>
    </tr>
    <tr>
      <td class="tag">Pedicure met gellak</td>
      <td class="price">€ 40,-</td>
    </tr>
  </table>
  <table class="prices">
    <caption>
      Waxen
    </caption>
    <tr>
      <td class="tag">Benen</td>
      <td class="price">€ 15,-</td>
    </tr>
    <tr>
      <td class="tag">Armen</td>
      <td class="price">€ 10,-</td>
    </tr>
    <tr>
      <td class="tag">Oksels</td>
      <td class="price">€ 10,-</td>
    </tr>
    <tr>
      <td class="tag">Bikinlijn</td>
      <td class="price">€ 10,-</td>
    </tr>
    <tr>
      <td class="tag">Wenkbrauwen</td>
      <td class="price">€ 10,-</td>
    </tr>
    <tr>
      <td class="tag">Bovenlip / Kin / Wangen</td>
      <td class="price">€ 10,-</td>
    </tr>
  </table>
  <table class="prices">
    <caption>
      Wimperextensions
    </caption>
    <tr>
      <td class="tag">One by one</td>
      <td class="price">€ 40,-</td>
    </tr>
    <tr>
      <td class="tag">Volume lashes</td>
      <td class="price">€ 50,-</td>
    </tr>
  </table>
  <table class="prices">
    <caption>
      Wimpers & Wenkbrauwen
    </caption>
    <tr>
      <td class="tag">Epileren</td>
      <td class="price">€ 5,-</td>
    </tr>
    <tr>
      <td class="tag">Verven</td>
      <td class="price">€ 8,-</td>
    </tr>
    <tr>
      <td class="tag">Hennabrows</td>
      <td class="price">€ 25,-</td>
    </tr>
    <tr>
      <td class="tag">Hennabrows & waxen</td>
      <td class="price">€ 30,-</td>
    </tr>
  </table>
  <section class="cta">
    <a class="link1" href="contact.html">
      <p>Maak een afspraak!</p>
    </a>
  </section>
</main>
