/* CSS Document */
:root {
  --color-gblue: #3E4450;
  --color-dblue: #07080B;
  --color-lpink: #EACDC9;
  --color-greyp: #F9F2F1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  background: url(../assets/artwork.svg) -14em no-repeat;
  width: 100%;
  height: 100%;
  opacity: 30%;
  background-size: cover;
  z-index: -5;
  top: -3em;
}

h1,
a {
  font-family: 'Cormorant Garamond', 'serif';
  font-style: normal;
}


/* //////////////////
///////HEADER///////
//////////////////// */

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

/* LOGO */

header #logo {
  height: 35px;
  margin: 1.5em;
}

/* NAVIGATION */

header nav #open {
  height: 35px;
  margin: 1.5em;
}

header nav #close {
  display: none;
  position: absolute;
  z-index: 6;
  height: 35px;
  top: 1.5em;
  right: 3.5em;
}

header nav .active #close {
  display: inline-block;
}

header nav ul {
  display: none;
}

header nav ul.active {
  position: absolute;
  display: inline-block;
  height: 100vh;
  background-color: var(--color-lpink);
  width: 100%;
  z-index: 4;
  left: 0;
  top: -1em;
  overflow-y: hidden;
}

header nav ul li {
  list-style: none;
}

header nav ul.active li:first-of-type {
  margin-top: 5em;
}

header nav li a {
  text-decoration: none;
  color: var(--color-dblue);
}

header nav .active li a {
  font-size: 2em;
  line-height: 2em;
}


header button {
  border-style: none;
  background: none;
}

/* //////////////////
////////MAIN/////////
//////////////////// */

main {
  position: relative;
  width: 100%;
  height: 80vh;
  text-align: center;
  overflow-x: hidden;
}

main h1 {
  position: absolute;
  top: 10%;
  transform: translateY(-10%);
  width: 100%;
  font-size: 2.8em;
  font-weight: 500;
  color: var(--color-gblue);
  padding: 1em;
}

main h1 b {
  font-weight: 700;
  color: var(--color-dblue);
}


main .img-1,
main .img-2 {
  background: var(--color-greyp);
  position: absolute;
}

main .img-1 img,
main .img-2 img {
  object-fit: cover;
  height: 75vh;
  opacity: 45%;
}

main .img-2 {
  display: none;
}

main #salon {
  left: 60%;
  z-index: -1;
}

main .cta {
  position: absolute;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  top: 55%;
  width: 100%;
}

main .cta a {
  text-decoration: none;
  color: var(--color-gblue);
  position: relative;
  font-size: 1.8em;
  width: 100%;
  line-height: 3rem;
  margin: 0 20%;
}

main .cta .link1 p::before {
  content: "";
  position: absolute;
  border: solid;
  color: var(--color-gblue);
  width: 7em;
  height: 1.6em;
  top: 1em;
  left: -1em;
}

main aside {
  display: none;
}

footer {
  position: relative;
  width: 100%;
  height: 10vh;
}

footer {
  background-color: var(--color-gblue);
  color: var(--color-lpink);
  text-align: center;
  padding: .9em 1.5em;
  font-size: .9em;
  line-height: 30%;
}

@media (min-width: 40em) {

  header {
    margin-top: 0;
  }

  header nav #open {
    display: none;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }


  header nav ul li a {
    width: 100%;
    font-size: 1em;
    line-height: 1em;
    margin-left: 1em;
  }

  header nav ul li a:last-of-type {
    margin-right: 1.5em;
  }

  main h1 {
    width: 75%;
    top: 30%;
    transform: translateY(-30%);
    font-size: 3em;
  }

  main .cta {
    top: 65%;
    transform: translateY(-65%);
    text-align: left;
  }

  main .cta .link1 {
    width: 45%;
    padding: 0;
  }

  main .cta .link2 {
    width: 45%;
    padding: 0;
  }

  main aside {
    display: initial;
    position: absolute;
    background-color: white;
    right: 0;
    top: 40%;
    transform: translateY(-40%);
  }

  main aside figure {
    width: 35px;
    padding: 0;
    margin: 1em;
  }
}

@media (min-height: 800px) {
  header {
    height: 10vh;
  }

  main {
    min-height: 85vh;
    max-height: 82vh;
  }

  footer {
    min-height: 5vh;
    max-height: 8vh;
  }

}