/* Variables */
:root {
  --color-gblue: #3E4450;
  --color-dblue: #07080B;
  --color-lpink: #EACDC9;
  --color-greyp: #F9F2F1;
}

/* General */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cormorant Garamond', 'serif';
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  background: url(../assets/artwork.svg) -14rem no-repeat;
  width: 100%;
  height: 100%;
  opacity: 30%;
  background-size: cover;
  z-index: -5;
  top: -3rem;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  color: var(--color-gblue);
  margin: 1em;
  width: 100%;
}

h1 b {
  font-weight: 700;
  color: var(--color-dblue)
}

h2 {
  font-weight: 500;
  font-size: 1.5em;
  color: var(--color-gblue);
}

p {
  font-size: 1em;
  color: var(--color-dblue);
}

a {
  font-size: 1em;
  color: var(--color-gblue);
  text-decoration: none;
}

li {
  list-style: none;
}


/* //////////////////
///////HEADER///////
//////////////////// */

header {
  grid-column: 1/ -1;
}

/* LOGO */

header #logo {
  height: 35px;
  margin: 1.5em;
}

/* NAVIGATION */

header nav ul {
  width: 100%;
  height: 100%;
  background-color: var(--color-lpink);
  position: absolute;
  top: -1em;
  left: 0;
  bottom: 0;
  z-index: 3;
  padding-top: 7em;
  transform: translateX(100%);
  transition: .5s;
}

header nav ul li {
  list-style: none;
  color: var(--color-gblue);
  font-size: 2em;
  padding-top: .5em;
}


header nav ul::before {
  content: "☰";
  position: absolute;
  display: inline-block;
  left: -20%;
  top: 0;
  font-size: 3.5em;
  color: var(--color-gblue);
}

header nav ul.active::before {
  content: "X";
  position: absolute;
  display: inline-block;
  left: 80%;
  top: 10px;
  font-size: 3.5em;
  color: var(--color-gblue);
}


header nav ul.active {
  transform: translateX(0);
  transition: .5s;
}

header nav li a {
  text-decoration: none;
  color: var(--color-gblue);
}


/* //////////////////
////////MAIN/////////
//////////////////// */

main {
  grid-column: 1/-1;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

main.index::after {
  content: "";
  background: url("../assets/salon.png") var(--color-lpink);
  background-size: cover;
  width: 40%;
  height: 95%;
  position: absolute;
  top: 1em;
  right: 0;
  z-index: -1;
  overflow-y: hidden;
  animation: FadeInOnLoad 4s ease-out;
}

main.index h1 {
  position: relative;
  text-align: center;
  font-size: 2.8em;
  height: 7em;
  padding: 2em 0 2em 0;
  margin-left: 0;
  animation: FadeInOnLoad 2s ease-out;
}

main.index {
  margin-left: 0;
}

main .cta {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  align-items: baseline;
  height: 10em;
  margin: 2em 0 2em 0;
}

main a {
  text-decoration: none;
  color: var(--color-gblue);
  font-size: 1.7em;
  padding: 0 .8em 0 .8em;
}

main .link1 {
  border: solid 2px var(--color-dblue);
  line-height: 0;
  margin: 0 1em 1em 1em;
  animation: FadeInOnLoad 6s;
}

main .link1 p,
main .link2 p {
  font-size: 1em;
  animation: FadeInOnLoad 6s;
}

main address {
  line-height: 0;
}

main address .address {
  font-size: 1em;
}

main .message form label,
input,
textarea {
  width: 100%;
  margin: 1em;
}


main aside {
  display: none;
}

main#pricelist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main table {
  margin: .5em 2em;
  min-width: 20em;
  max-width: 25em;
}

main table caption {
  text-align: left;
  font-weight: 500;
  padding-top: 1em;
  font-size: 1.2em;
}

main table td {
  color: var(--color-dblue);
}

main table td.tag {
  text-align: left;
}

main table td.price {
  text-align: right;
}

/* //////////////////
////////FOOTER/////////
//////////////////// */

footer {
  grid-column: 1/-1;
  width: 100%;
  background-color: var(--color-gblue);
  text-align: center;
  padding: .9em 1.5em;
  font-size: .9em;
  line-height: 30%;
}

footer p {
  color: var(--color-lpink);
}

@media(min-height:733px) {
  footer.index {
    position: absolute;
    bottom: 0;
  }
}

@media(min-width:613px) and (min-height:865px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}

@media(min-width:50em) {

  header {
    display: flex;
    justify-content: space-between;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: translateX(0);
    font-size: .5em;
    margin-top: 2.6em;
    padding: 1.5em;
    background-color: transparent;
    transition: 0s;
  }

  header nav ul li {
    margin-right: 1em;
  }

  header nav ul::before {
    display: none;
  }

  header nav ul.active::before {
    display: none;
  }

  main.index h1 {
    padding: 3.5em;
  }

  main aside {
    display: inline;
    background-color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  main aside figure {
    height: 50px;
    width: 50px;
    padding: 8px;
    margin: 0;
  }

  main aside figure a {
    font-size: 1em;
    padding: 0;
  }
}

@media(min-width:60em) {
  main.index::after {
    content: "";
    background: url("../assets/salon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 33%;
    height: 30em;
    position: absolute;
    top: 2em;
    left: 55%;
    z-index: -1;
    overflow-y: hidden;
  }

  main.index::before {
    content: "";
    background: url("../assets/nails2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 33%;
    height: 30em;
    position: absolute;
    top: 3em;
    left: 20%;
    z-index: -2;
    overflow: hidden;
    transform: rotate(90deg);
    animation: FadeInOnLoad 4s ease-out;
  }
}

@keyframes FadeInOnLoad {
  0% {
    opacity: 0;
    transform: translateY(2em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}