@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Montserrat&display=swap");
body {
  margin: 0;
  display: inline-block;
  width: 100%;
}

h1, a {
  font-family: 'Cormorant Garamond', 'serif';
  font-style: normal;
}

#background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  overflow: hidden;
  z-index: -8;
}

#background::before {
  content: "";
  position: absolute;
  background: url(../assets/artwork.svg) -14em no-repeat;
  width: 100%;
  height: 100%;
  opacity: 30%;
  background-size: cover;
  z-index: -2;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5em;
}

header #logo {
  width: auto;
  height: 35px;
}

header #menu {
  width: auto;
  height: 35px;
}

header ul {
  display: none;
}

header button {
  border-style: none;
  background: none;
}

main section {
  position: relative;
  text-align: center;
  overflow-x: hidden;
  width: 100%;
  height: 90vh;
}

main section h1 {
  margin: 0;
  position: absolute;
  font-size: 2.8em;
  font-weight: 500;
  top: 30%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  color: #3E4450;
  width: 100%;
}

main section h1 b {
  color: #07080B;
  font-weight: 700;
}

main section .images {
  position: relative;
  top: 1.5em;
  width: 100%;
}

main section .images .img-1, main section .images .img-2 {
  background: #EACDC9;
}

main section .images .img-1 img, main section .images .img-2 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  opacity: 45%;
}

main section .images #salon {
  position: relative;
  top: 0;
  left: 60%;
  height: 80vh;
  z-index: -1;
}

main section .images .img-2 {
  display: none;
}

main section .cta {
  top: 75%;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  text-align: center;
}

main section .cta .container {
  width: 100%;
}

main section .cta .container .link1 {
  display: inline-block;
  font-size: 1.6em;
  color: #3E4450;
  text-decoration: none;
  position: relative;
}

main section .cta .container .link1::before {
  content: "";
  position: absolute;
  border: solid;
  color: #3E4450;
  width: 7em;
  height: 1.6em;
  top: -.3em;
  left: -1em;
}

main section .cta .link2 {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: block;
  position: relative;
  font-size: 1.6em;
  color: #3E4450;
  padding-top: 2em;
}

main aside {
  display: none;
}

footer {
  position: relative;
  background-color: #3E4450;
  color: #EACDC9;
  text-align: center;
  padding: .9em 1.5em;
  font-size: .9em;
  line-height: 30%;
}

footer p {
  padding: 0 .3em;
}

@media (min-width: 768px) {
  main section h1 {
    width: 75%;
    top: 40%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
    font-size: 4em;
  }
  main section .cta {
    top: 65%;
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
  }
  main section .cta .container {
    width: 45%;
  }
  main section .cta .link2 {
    width: 15%;
    padding: 0;
  }
  main aside {
    display: inline-block;
    position: absolute;
    background-color: white;
    right: 0;
    top: 43%;
    -webkit-transform: translateY(-43%);
            transform: translateY(-43%);
  }
  main aside #facebook {
    width: 40px;
    margin: .8em;
  }
  main aside #instagram {
    width: 40px;
    margin: .8em;
  }
}

@media (min-width: 1024px) {
  header {
    z-index: 5;
  }
  header #logo {
    height: 40px;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header ul li {
    display: static;
    margin-right: 20px;
  }
  header ul li a {
    font-size: 1.1em;
    text-decoration: none;
    color: #3E4450;
    display: inline-block;
  }
  header ul li .active {
    font-weight: 700;
  }
  header button {
    display: none;
  }
  main section {
    text-align: center;
    position: relative;
    margin-top: 3em;
  }
  main section h1 {
    width: 100%;
  }
  main section .cta {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section .cta .container {
    width: 25%;
  }
  main section .cta .link2 {
    width: 15%;
  }
  main section .images .img-2 {
    display: inline-block;
  }
  main section .images #salon {
    position: absolute;
    left: 76.5%;
    z-index: -3;
    height: 500px;
    -webkit-transform: translate(-76.5%, 0) scale(110%);
            transform: translate(-76.5%, 0) scale(110%);
  }
  main section .images #nails {
    height: 500px;
    position: absolute;
    left: 27%;
    z-index: -2;
    -webkit-transform: translate(-27%, -3%) rotate(90deg) scale(95%);
            transform: translate(-27%, -3%) rotate(90deg) scale(95%);
  }
  main section .images #eyes {
    height: 500px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 29%) rotate(90deg) scale(73%);
            transform: translate(-50%, 29%) rotate(90deg) scale(73%);
    z-index: -1;
  }
}

@media (min-height: 800px) {
  header {
    margin-bottom: 0;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: .5em;
  }
}
/*# sourceMappingURL=main.css.map */